# .coveragerc

[run]
source = app
branch = True
omit =
    */tests/*
    */venv/*
    */migrations/*

[report]
exclude_lines =
    pragma: no cover
    def __str__
    if self\.debug
    raise AssertionError
    raise NotImplementedError

[html]
directory = htmlcov
